@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    top: 0;
    background: white;
    position: sticky;
    font: 12px;
    height: 66px;
}

.left img{
    height: 36px;
    width: 82px;
}

.space-between{
    justify-content: space-between;
}

.container{
    padding: 0 10vw;
    

}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

nav{
    font-size: 12px;
    padding-top: 14px;
}

.section-1{
    background-color: antiquewhite;
    height: 122vh;
    
}

.search{
    width: 24vw;
    padding: 7px 17px;
    border:  0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}